<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If file or directory exists, skip rewriting
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite everything to index.php
    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>
